/* Set all margins, paddings and borders to zero and none */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Style the Top-Navigation */
.topnav {
    background-color: black;
    width: 100%;
    margin-bottom: 2%;
}

.topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Style the Footer */

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    margin-top: 3%;
}

#footer-p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 120%;
    color: white;
    text-align: center;
}

.footer li {
    display: inline;
}

.footer i {
    font-size: 250%;
    margin: 1%;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.footer i:hover {
    background-color: #04AA6D;
    color: black;
}

