/* Set all margins, paddings and borders to zero and none */
* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    font-family: 'Caveat', cursive;
    font-family: 'Nunito', sans-serif;
    color: darkslategray;
}

body {
    text-align: center;
}

/* Style the Top-Navigation */
.topnav {
    background-color: black;
    width: 100%;
    margin-bottom: 2%;
}

.topnav a {
    /*float: center;*/
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Style the Header Logo and text */

.heading {
    text-align: center;
    /*float: center;*/
    font-size: 4.5rem;
    background-color: rgb(249, 250, 250, 0.9);
    border-radius: 25px;
    border-style: groove;
    border-color: black;
    border-width: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.logo {
    width: auto;
    padding-right: 5px;
}

img {
    height: 100px;
    width: auto;
}

/* Style the main content on the pages */

.calculator-area {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: rgb(249, 250, 250, 0.9);
    border-radius: 25px;
    border-style: groove;
    border-color: black;
    border-width: 5px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.bmr-area {
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 400;
    background-color: rgb(249, 250, 250, 0.9);
    border-radius: 25px;
    border-style: groove;
    border-color: black;
    border-width: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

select {
    font-family: 'Caveat', cursive;
    font-family: 'Nunito', sans-serif;
    color: darkslategray;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 2%;
    margin-top: 4%;
}

.input-field {
    font-size: 1.4rem;
    border-radius: 4px;
    margin-top: 4%;
}

.result-area {
    margin-top: 4%;
    font-size: 2rem;
    background-color: white;
    color: #f44336;
    border-radius: 25px;
    border-style: groove;
    border-color: black;
    border-width: 5px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

.container {
    width: 60%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #f44336;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 15px 32px;
    margin-top: 4%;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Style the contact form */

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: black;
    color: white;
    font-size: large;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset] {
    background-color: black;
    color: white;
    font-size: large;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 2%;
}

input[type=submit]:hover {
    background-color: #04AA6D;
}

input[type=reset]:hover {
    background-color: #04AA6D;
}

/* Style the Footer */

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    margin-top: 3%;
}

#footer-p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 120%;
    color: white;
    text-align: center;
}

.footer li {
    display: inline;
}

.footer i {
    font-size: 250%;
    margin: 1%;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.footer i:hover {
    background-color: #04AA6D;
    color: black;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1150px) and (max-width: 1280px) {
  
input[type=reset] {
    font-size: small;
}

input[type=submit] {
    font-size: small;
}

button {
font-size: small;
}

.container {
    width: 80%;
	
}

.result-area {
font-size: small;
width: 80%;
}	

#bmrresult #bmiresult p{
font-size: small;
width: 80%;
}	

.input-field {
font-size: small;
}

select {
font-size: small;
}	

.bmr-area {
    font-size: small;
    width: 80%;
}

.calculator-area {
    font-size: small;
    font-weight: 400;
    width: 60%;
}

img {
    height: 100px;
}

.heading {
    font-size: 2.5rem;
    width: 70%;
}

.topnav a {
    font-size: 20px;
}
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
input[type=reset] {
    font-size: x-small;
}

input[type=submit] {
    font-size: x-small;
}

button {
font-size: x-small;
}

.container {
    width: 80%;
	
}

.result-area {
font-size: x-small;
width: 80%;
}	

#bmrresult #bmiresult p{
font-size: x-small;
width: 80%;
}	

.input-field {
font-size: x-small;
}

select {
font-size: x-small;
}	

.bmr-area {
    font-size: x-small;
    width: 80%;
}

.calculator-area {
    font-size: x-small;
    font-weight: 400;
    width: 80%;
		height: 70%;
}

img {
    height: 75px;
}

.heading {
    font-size: 1.5rem;
    width: 70%;
}

.topnav a {
    font-size: 15px;
}
}
  

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
input[type=reset] {
    font-size: small;
}

input[type=submit] {
    font-size: small;
}

button {
font-size: small;
}

.container {
    width: 80%;
}

.result-area {
font-size: small;
width: 80%;
}	

#bmrresult #bmiresult p{
font-size: small;
width: 80%;
}	

.input-field {
font-size: small;
}

select {
font-size: small;
}	

.bmr-area {
    font-size: small;
    width: 80%;
}

.calculator-area {
    font-size: small;
    font-weight: 400;
    width: 50%;
		height: 70%;
}

img {
    height: 60px;
}

.heading {
    font-size: 2.5rem;
    width: 70%;
}

.topnav a {
    font-size: 20px;
}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
input[type=reset] {
    font-size: x-small;
}

input[type=submit] {
    font-size: x-small;
}

button {
font-size: x-small;
}

.container {
    width: 90%;
	
}

.result-area {
font-size: x-small;
width: 90%;
}	

#bmrresult #bmiresult p{
font-size: x-small;
width: 90%;
}	

.input-field {
font-size: x-small;
}

select {
font-size: x-small;
}	

.bmr-area {
    font-size: x-small;
    width: 90%;
}

.calculator-area {
    font-size: x-small;
    font-weight: 400;
    width: 90%;
		height: 70%;
}

img {
    height: 25px;
}

.heading {
    font-size: small;
    width: 90%;
}

.topnav a {
    font-size: 15px;
}
}
  
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
input[type=reset] {
    font-size: x-small;
}

input[type=submit] {
    font-size: x-small;
}

button {
font-size: x-small;
}

.container {
    width: 90%;
}

.result-area {
font-size: x-small;
width: 90%;
}	

#bmrresult #bmiresult p{
font-size: x-small;
width: 90%;
}	

.input-field {
font-size: x-small;
}

select {
font-size: x-small;
}	

.bmr-area {
    font-size: x-small;
    width: 90%;
}

.calculator-area {
    font-size: x-small;
    font-weight: 400;
    width: 90%;
		height: 70%;
}

img {
    height: 25px;
}

.heading {
    font-size: small;
    width: 90%;
}

.topnav a {
    font-size: 15px;
}
}